Package: PhNavigo
Version: 0.2.6-ubuntu
Section: Browser
Priority: optional
Architecture: all
Installed-Size:201
Depends: 
Maintainer: outadoc <pierrehs@hotmail.com>
Description: Web Browser "PhNavigo" simple, easy and secure!
Homepage: http://01script.com
